<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ data.title.title_mime }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }

        footer {
            background-color: #40C6D6;
            color: #fff;
        }

        h3 {
            color: #445B9F;
        }
    </style>
</head>

<body>
{% block content %}{% endblock %}
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>{{ data.title.title_footer  | nl2br }}</p>
            </div>
        </div>
    </div>
</footer>

{% if data.form.modal is not empty %}
    {% include 'front/widget/modal.twig' with data.form only %}
{% endif %}


<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        $('form.send_data').submit(function() {

            $('<div>').addClass('text-success').html('<h2><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Спасибо за Ваше сообщение!</h2>').insertAfter($(this).parent());
            $(this).parent().hide();

            $.ajax({
                url: "/need/call",
                type: "POST",
                data: $(this).serialize(),
                success: function(data){
                    console.log(data);
                }
            });

            return false;
        });
    });
</script>

{{ data.title.metrika | raw }}

<script type="text/javascript" src="http://js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js"></script>
<script type="text/javascript">

    var city_name = null;

    function replaceCityName() {
        $('body').children().each(function() {
            if ($(this).context.localName !== "script") {
                $(this).html($(this).html().replace(/city_name/g, 'в ' + city_name + 'е'));
            }
        });
    }

    $(document).ready(function () {
        if (city_name === null) {
            geoip2.city(
                    function (location) {
                        if (typeof(location.city.names.ru) === "string") {
                            city_name = location.city.names.ru;
                            replaceCityName();
                        }
                    },
                    function (error) {
                        alert(
                                "Error:\n\n"
                                + JSON.stringify(error, undefined, 4)
                        );
                    }
            );
        }
    });
</script>
</body>
</html>