{% extends "admin.layout.base" %}

{% block title %}Создать новую "Шапку"{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-5 col-md-7">
            <h1>Создать новую "Шапку"</h1>

            <form method="post" action="{{ route('admin_header_insert') }}">
                <div class="form-group">
                    <label>Заголовок</label>
                    <textarea class="form-control" rows="7" name="title" required></textarea>
                </div>

                <div class="form-group">
                    <label>Подзаголовок</label>
                    <textarea class="form-control" rows="7" name="sub_title" required></textarea>
                </div>

                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Создать</button>
            </form>
        </div>
    </div>
{% endblock %}