{% extends "front.layout.app" %}

{% block content %}

    {% include 'front/widget/menu.twig' with data.menu only %}

    {% include 'front/widget/header.twig' with data.header only %}

    <!-- Page Content -->
    <div class="container">
        {% if data.benefits is not empty %}
            {% include 'front/widget/benefits.twig' with data.benefits only %}
        {% endif %}

        {% if data.products is not empty %}
            {% include 'front/widget/products.twig' with data.products only %}
        {% endif %}
        
        <p class="text-center" style="margin-top: 24px; margin-bottom: 48px"><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#get_phone">{{ data.title.title_down_button }}</button></p>
    </div>

{% endblock %}