{% extends "admin.layout.base" %}

{% block title %}Административная часть{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Административная часть</h1>
        </div>
    </div>
{% endblock %}
