<!-- Full Width Image Header -->
<header class="header-image for-edit" style="background: url('{{ bg }}') center no-repeat">
    <div class="headline">
        <div class="container text-center">
            <h1>{{ title | nl2br }}</h1>
            <h2>{{ sub_title | nl2br}}</h2>
            <hr>
        </div>
    </div>
</header>