<div class="row">
    <div class="col-md-12">
        <h2 class="text-center for-edit" style="margin-top: 48px; line-height: 38px; text-align: center; color: #445B9F;">{{ title }}</h2>
    </div>
</div>

{% for item in list %}
<div class="row" style="border: 2px solid #445B9F; border-radius: 50px; margin: 24px 100px; padding: 25px;">
    <div class="col-md-5" >
        <p><img src="{{ item.path }}" alt="..." width="100%"></p>
        <p><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#get_phone">Оформить</button></p>
    </div>

    <div class="col-md-7">
        <table class="table table-hover table-striped">
            <tbody>
            {% for value in label %}
                <tr>
                    <th>{{ value.label }}:</th>
                    <td>{{ item[value.name] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}