<h2 class="text-center for-edit" style="margin-top: 48px; line-height: 38px; text-align: center; color: #445B9F;">{{ title }}</h2>


{% for item in list %}
<div class="row" style="border: 2px solid #445B9F; border-radius: 50px; margin: 24px 100px; padding: 25px;">
    <div class="col-md-5" >
        <p><img src="{{ item.path }}" alt="..." width="100%"></p>
        <p><button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#get_phone">Купить</button></p>
    </div>

    <div class="col-md-7" >
        <dl class="dl-horizontal">

            {% for value in label %}
                <dt>{{ value.label }}:</dt>
                <dd>{{ item[value.name] }}</dd>
            {% endfor %}
        </dl>
    </div>
</div>
{% endfor %}