<h2 class="text-center" style="margin-top: 48px; line-height: 38px; text-align: center; color: #445B9F;">{{ title }}</h2>



<div class="row" style="border: 2px solid #445B9F; border-radius: 50px; margin: 24px 100px">
    <div class="col-md-4" >
        123
    </div>

    <div class="col-md-7" >
        123
    </div>
</div>

