<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>One Page Wonder - Start Bootstrap Template</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }

        .headline {
            height: 608px;
            background-color: #000000;
            opacity: 0.6;
            padding-top: 50px;
        }

        .headline h1 {
            background: none;
            color: #fff;
            font-size: 60px;
            line-height: 72px;
            font-weight: 700;
        }

        .headline h2 {
            background: none;
            color: #fff;
            font-size: 40px;
            line-height: 48px;
            font-weight: 400;
        }



        header {
            margin-top: 70px;
        }

        footer {
            background-color: #40C6D6;
            color: #fff;
        }

        .navbar {
            min-height: 75px;
        }

        .navbar-brand img {
            width: 211px;
            height: 48px;
        }

        .navbar-custom {
            background: #fff;
        }
    </style>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/front/logo-3.png" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#services">Services</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

{% include 'front/widget/header.twig' with data.header only %}

<!-- Page Content -->
<div class="container">

    <style>
        #carousel-example-generic .item {
            width: 100%;
            height: 500px;
            background: #ffff00;
        }
    </style>

    {% if data.benefits is not empty %}
        {% include 'front/widget/benefits.twig' with data.benefits only %}
    {% endif %}

    {% if data.products is not empty %}
        {% include 'front/widget/products.twig' with data.products only %}
    {% endif %}

    {% if data.reviews is not empty %}
        {% include 'front/widget/reviews.twig' with data.reviews only %}
    {% endif %}
</div>

<!-- Footer -->
<footer>
    <div class="container" style=":  ">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>

            <div class="col-md-4">
                <p>Шведские стенки, спортивные комплексы<br>с доставкой  по Ульяновску и области</p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p>Остались вопросы?<br>Задайте их менеджеру!<br>+7(902)006-77-91
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>

    function cloneElement(element) {
        $('#for-edit-bg').remove();

        var width = element.width()
                + (element.css('padding-left').replace(/px/g,"") * 1)
                + (element.css('padding-right').replace(/px/g,"") * 1);

        var height = element.height()
                + (element.css('padding-top').replace(/px/g,"") * 1)
                + (element.css('padding-bottom').replace(/px/g,"") * 1);

        var position = element.position();


        var bg = $('<div id="for-edit-bg" class="text-center"><a href="">123</a></div>');
        bg.width(width);
        bg.height(height);
        bg.position(position);
        bg.css('background', 'green');
        bg.css('border-radius', '5px');
        bg.css('position', 'absolute');
        bg.css('left', position.left);
        bg.css('top', position.top + (element.css('margin-top').replace(/px/g,"") * 1));

        bg.insertAfter(element);
    }

    $(document).ready(function() {
        //console.log('I work!');



        $('.for-edit').hover(
                function() {
                    cloneElement($(this));
                }
        );
    });
</script>
</body>
</html>